<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todust - Entry - {{ entry.text | single_line | truncate(length=100) }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  </head>

  <body>
    <h1>Entry - {{ entry.text | single_line | truncate(length=100) }}</h1>

    <h2>Metadata</h2>
    <ul>
      <li><b>Project:</b> <a href="/project/{{ entry.metadata.project }}">{{ entry.metadata.project}}</a></li>
      <li><b>UUID:</b> {{ entry.metadata.uuid }}</li>
      <li><b>Last Change:</b> {{ entry.metadata.last_change }}</li>
      <li><b>Started:</b> {{ entry.metadata.started }}</li>
      <li><b>Active Duration:</b> {{ entry.metadata.started | format_duration_since }}</li>

      {% if entry.metadata.due is some %}
      <li><b>Due:</b> {{ entry.metadata.due }}</li>
      {% endif %}
    </ul>

    <h2>Text</h2>
    {{ entry.text | asciidoc_header | asciidoc_to_html }}

    <hr>

    <a href="/project/{{ entry.metadata.project }}">back</a>
  </body>
</html>
