<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todust - Todos - {{ project }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.css">
  </head>

  <body>
    <h1>Todos - {{ project }}</h1>

    <h2>Active</h2>
    <ol>
      {% for entry in entries_active %}
      <li>
        <a href="/entry/{{ entry.metadata.uuid }}">
          {{ entry.text | single_line | truncate(length=200) }}
        </a>
      </li>
      {% endfor %}
    </ol>

    {% if show_done %}
    <h2>Done</h2>
    <ol>
      {% for entry in entries_done %}
      <li>
        <a href="/entry/{{ entry.metadata.uuid }}">
          {{ entry.text | single_line | truncate(length=200) }}
        </a>
      </li>
      {% endfor %}
    </ol>
    {% endif %}

    <hr>

    <a href="/">back</a> |
    <a href="/project/add/entry/{{ project }}">add enty</a> |
    {% if show_done %}
    <a href="/project/{{ project }}">hide done</a>
    {% else %}
    <a href="/project/{{ project }}?show_done=true">show done</a>
    {% endif %}
  </body>
</html>
